<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Notifications</title>
</head>
<body>
    <h1>Send Push Notifications</h1>
    <form action="" method="post">
        <input type="text" placeholder="Enter a token" name="pushToken" required>
        <input type="text" placeholder="Enter a title" name="messageTitle">
        <input type="text" placeholder="Enter a description" name="messageBody">
        <input type="file" placeholder="Enter an image URL" name="messageImage">
        <button type="submit" name="submit">Send Push Notification</button>
        <input type="reset">
    </form>
</body>
</html>